html {
  background: black;
  color: white;
  font-family: sans-serif;
}

section {
  padding-left: 20px;
}

figure {
  display: inline;
  padding: 5px;
}

img {
  width: 30%;
  height: 10%;
  align: middle;
  border: 2px solid black;
  box-shadow: 5px 5px #b3b3b3;
}

p {
  text-align: justify;
}
