*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #222;
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.container {
  clear: both;
  width: 90%;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  float: left;
  text-align: justify;
}

.posts {
  width: 60%;
  float: left;
  line-height: 1.5;
  text-align: justify;
}

.post {
  padding: 20px;
}

.post-title {
  font-size: 2rem;
}

img {
  max-width: 100%;
}
